
@{
    ViewBag.Title = "Contact";
}

@section banner
{
    <div class="banner-text" style="height:215px;">
        <div class="container">
            <h2>Delicious food from the <br> <span>Best Chef For You</span></h2>

        </div>

    </div>
}

<!-- breadcrumb -->
<div class="container">
    <ol class="breadcrumb w3l-crumbs">
        <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
        <li class="active">Contact Us</li>
    </ol>
</div>
<!-- //breadcrumb -->
<!-- contact -->
<div id="contact" class="contact cd-section">
    <div class="container">
        <h3 class="w3ls-title">Contact us</h3>
        <p class="w3lsorder-text">We are committed to the safety of everyone using Excotic Mandii. </p>
        <div class="contact-row agileits-w3layouts">
            <div class="col-xs-6 col-sm-6 contact-w3lsleft">
                <div class="contact-grid agileits">
                    <h4>DROP US A LINE </h4>
                    <form action="#" method="post">
                        <input type="text" name="Name" placeholder="Name" required="">
                        <input type="email" name="Email" placeholder="Email" required="">
                        <input type="text" name="Phone Number" placeholder="Phone Number" required="">
                        <textarea name="Message" placeholder="Message..." required=""></textarea>
                        <input type="submit" value="Submit">
                    </form>
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 contact-w3lsright">
                <h6><span>Dear Customers!!</span>We would love to hear from you! </h6>
                <div class="address-row">
                    <div class="col-xs-2 address-left">
                        <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                    </div>
                    <div class="col-xs-10 address-right">
                        <h5>Visit Us</h5>
                        <p>Exotic Mandii,Near RK Circle </p>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="address-row w3-agileits">
                    <div class="col-xs-2 address-left">
                        <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                    </div>
                    <div class="col-xs-10 address-right">
                        <h5>Mail Us</h5>
                        <p><a href="Excoticmandii@gamil.com"> Excoticmandii@gamil.com</a></p>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="address-row">
                    <div class="col-xs-2 address-left">
                        <span class="glyphicon glyphicon-phone" aria-hidden="true"></span>
                    </div>
                    <div class="col-xs-10 address-right">
                        <h5>Call Us</h5>
                        <p>+91 8824048190</p>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <!-- map -->
    <div class="map agileits">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3627.4804008134865!2d73.69811561447248!3d24.607122161425607!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3967e5282879f08b%3A0x2fffb36c622842a6!2sExotic+Mandii!5e0!3m2!1sen!2sin!4v1554967501690!5m2!1sen!2sin" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
    <!-- //map -->
</div>
<!-- //contact -->


