
@{
    ViewBag.Title = "Login";
}

@section banner
{
    <div class="banner-text" style="height:215px;">
        <div class="container">
            <h2>Delicious food from the <br> <span>Best Chef For You</span></h2>

        </div>

    </div>
}


<!-- //breadcrumb -->
<!-- login-page -->
<div class="login-page about">
    <img class="login-w3img" src="images/img3.jpg" alt="">
    <div class="container">
        <h3 class="w3ls-title w3ls-title1">Login to your account</h3>
        <div class="login-agileinfo">
            <form action="/Account/Login" method="post">
                @Html.AntiForgeryToken()
                <input class="agile-ltext" type="text" name="Email" placeholder="Username" required="">
                <input class="agile-ltext" type="password" name="Password" placeholder="Password" required="">
                <div class="wthreelogin-text">
                    <ul>
                        <li>
                            <label class="checkbox">
                                <input type="checkbox" name="RememberMe" value="true"><i></i>
                                <span> Remember me ?</span>
                            </label>
                        </li>
                        <li><a href="#">Forgot password?</a> </li>
                    </ul>
                    <div class="clearfix"> </div>
                </div>
                <input type="submit" value="LOGIN" >
            </form>
            <p>Don't have an Account? <a href="/Home/Signup"> Sign Up Now!</a></p>
        </div>
    </div>
</div>
<!-- //login-page -->  

