
@{
    ViewBag.Title = "PrivacyPolicy";
}

@section banner
{
    <div class="banner-text" style="height:215px;">
        <div class="container">
            <h2>Delicious food from the <br> <span>Best Chef For You</span></h2>

        </div>

    </div>
}




	<!-- //breadcrumb -->
<!-- privacy-page -->
<div class="privacy about">
    <div class="container">
        <h3 class="w3ls-title w3ls-title1">Privacy Policy</h3>
        <div class="privacy-w3row">
            <p>Excotic Mandii Media Private Limited and/or its affiliates ("Excotic Mandii," the "Company," "we," "us," and "our,") respect your privacy and is committed to protecting it through its compliance with its privacy policies. This policy describes:</p>
            <p>the types of information that Excotic Mandii may collect from you when you access or use its websites, applications and other online services (collectively, referred as "Services"); and</p>
            <p>its practices for collecting, using, maintaining, protecting and disclosing that information.</p>
            <p>This policy applies only to the information Excotic Mandii collects through its Services, in email, text and other electronic communications sent through or in connection with its Services.</p>
            <h5>What Does Our Privacy Policy Include?</h5>
            <p>Excotic Mandii Media Private Limited ("Excotic Mandii," the "Company," "we," "us," and "our”) collects several types of information from and about users of our Services, including:</p>
            <p>Your Personal Information("PI") - Personal Information is the information that can be associated with a specific person and could be used to identify that specific person whether from that data, or from the data and other information that we have, or is likely to have access to. We do not consider personal information to include information that has been made anonymous or aggregated so that it can no longer be used to identify a specific person, whether in combination with other information or otherwise.</p>
            <p>Information about your internet connection, the equipment you use to access our Services and your usage details.</p>
            <h5>How Do We Use Your Personal Information?</h5>
            <p>automatically as you navigate through our Services (information collected automatically may include usage details, IP addresses and information collected through cookies, web beacons and other tracking technologies).</p>
        </div>
    </div>
</div>
<!-- //privacy-page -->
