@model WebApplicationExcoticMandi.Models.Product
@{
    ViewBag.Title = "ProductDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <img  src="@Model.ProductImage" class="img-responsive"/>

        </div>
        <div class="col-sm-8">
            <h3>@Model.ProductName</h3>
            <h4>@Model.Price</h4>
            <hr />
            <p>@Html.Raw(Model.details)</p>
        </div>
        
    </div>

</div>
