
@{
    ViewBag.Title = "Signup";
}

@section banner
{
    <div class="banner-text" style="height:215px;">
        <div class="container">
            <h2>Delicious food from the <br> <span>Best Chef For You</span></h2>

        </div>

    </div>
}


<div class="container">
    <ol class="breadcrumb w3l-crumbs">
        <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
        <li class="active">Sign Up</li>
    </ol>
</div>
<!-- //breadcrumb -->
<!-- sign up-page -->
<div class="login-page about">
    <img class="login-w3img" src="images/img3.jpg" alt="">
    <div class="container">
        <h3 class="w3ls-title w3ls-title1">Sign Up to your account</h3>
        <div class="login-agileinfo">
            <form action="/Account/Register" method="post">
                @Html.AntiForgeryToken();
                <input class="agile-ltext" type="text" name="Username" placeholder="Username" required="">
                <input class="agile-ltext" type="email" name="Email" placeholder="Your Email" required="">
                <input class="agile-ltext" type="password" name="Password" placeholder="Password" required="">
                <input class="agile-ltext" type="password" name="ConfirmPassword" placeholder="Confirm Password" required="">
                <div class="wthreelogin-text">
                    <ul>
                        <li>
                            <label class="checkbox">
                                <input type="checkbox" ><i></i>
                                <span> I agree to the terms of service</span>
                            </label>
                        </li>
                    </ul>
                    <div class="clearfix"> </div>
                </div>
                <input type="submit" value="Sign Up">
            </form>
            <p>Already have an account?  <a href="/Home/Login"> Login Now!</a></p>
        </div>
    </div>
</div>
<!-- //sign up-page -->
<!-- subscribe -->

