
@{
    ViewBag.Title = "Terms";
}

@section banner
{
    <div class="banner-text" style="height:215px;">
        <div class="container">
            <h2>Delicious food from the <br> <span>Best Chef For You</span></h2>

        </div>

    </div>
}


<!-- privacy-page -->
<div class="privacy about">
    <div class="container">
        <h3 class="w3ls-title w3ls-title1">Terms & Conditions</h3>
        <div class="privacy-w3row">
            <p>Thank you for using Excotic Mandii. These Terms of Service (the "Terms") are intended to make you aware of your legal rights and responsibilities with respect to your access to and use of the Excotic Mandii website at www.Excotic Mandii.com (the "Site") and any related mobile or software applications ("Excotic Mandii Platform") including but not limited to delivery of information via the website whether existing now or in the future that link to the Terms (collectively, the "Services").</p>
            <p><b>These Terms are effective for all existing and future Excotic Mandii users, including but without limitation to users having access to 'restaurant business page' to manage their claimed business listings.</b></p>
            <h5>User</h5>
            <p>"User" or "You" or "Your" refers to you, as a user of the Services. A user is someone who accesses or uses the Services for the purpose of sharing, displaying, hosting, publishing, transacting, or uploading information or views or pictures and includes other persons jointly participating in using the Services including without limitation a user having access to 'restaurant business page' to manage claimed business listings or otherwise.</p>
            <p>content</p>
            <p>"Content" will include (but is not limited to) reviews, images, photos, audio, video, location data, nearby places, and all other forms of information or data. "Your content" or "User Content" means content that you upload, share or transmit to, through or in connection with the Services, such as likes, ratings, reviews, images, photos, messages, profile information, and any other materials that you publicly display or displayed in your account profile. "Excotic Mandii Content" means content that Excotic Mandii creates and make available in connection with the Services including, but not limited to, visual interfaces, interactive features, graphics, design, compilation, computer code, products, software, aggregate ratings, reports and other usage-related data in connection with activities associated with your account and all other elements and components of the Services excluding Your Content and Third Party Content. "Third Party Content" means content that comes from parties other than Excotic Mandii or its users and is available on the Services.</p>
            <h5>SECURITY</h5>
            <p>We take security seriously at Excotic Mandii. If you are a security researcher or expert, and believe you’ve identified security-related issues with Excotic Mandii’s website or apps, we would appreciate you disclosing it to us responsibly.</p>
            <p>Our team is committed to addressing all security issues in a responsible and timely manner, and ask the security community to give us the opportunity to do so before disclosing them publicly. Please submit a bug to us on our HackerOne page, along with a detailed description of the issue and steps to reproduce it, if any. We trust the security community to make every effort to protect our users data and privacy.</p>
            <h5>ORDER CONDITIONS, DELIVERY</h5> 
            <p>Users will be required to share certain personal information with Excotic Mandii and/or the restaurant including but not limited to their name, phone number, email address in order to avail the Excotic Mandii Book Service and the user hereby permits Excotic Mandii to share such personal information with the restaurant for confirming such user's booking and/or such other communication relating to but not limited to the Excotic Mandii Book Service or any promotions by the restaurant. Excotic Mandii will use these details in accordance with the Privacy Policy published here. Excotic Mandii will share your personal information with the restaurant for the purpose of your reservation. However, notwithstanding anything otherwise set out herein, Excotic Mandii shall in no manner be liable for any use of your personal information by such restaurant for any purpose whatsoever.</p>
        </div>
    </div>
</div>

